body {
    background-color: #ADD8E6; /* Azul claro */
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para la marquesina */
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

img {
    margin-top: 15px;
    border-radius: 5px;
}

nav {
    background-color: #007BFF; /* Un azul más fuerte para el menú */
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button {
    background-color: #28A745; /* Un color llamativo para el botón */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #1E7E34;
}